<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Article Filler</title>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    
    
    <script src="/assets/js/app.js"></script>
  </head>
<body>
    
    {{{ body }}}


</body>
</html>